In [0]:
#!pip install yahoo_finance_api2

In [1]:
import pandas as pd
import sys
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError
from datetime import datetime

def dataloader(symbol):
  my_share = share.Share(symbol)
  symbol_data = None

  try:
      symbol_data = my_share.get_historical(share.PERIOD_TYPE_YEAR,30,
                                            share.FREQUENCY_TYPE_DAY,1)
      print(symbol+" has been downloaded")
      
  except YahooFinanceError as e:
      print(e.message)
      sys.exit(1)
  df = pd.DataFrame(symbol_data)
  
  df['timestamp'] = [datetime.fromtimestamp(t/1000) for t in df['timestamp']]

  return df[(df['timestamp'] >= '1995-1-1 01:00:00') & (df['timestamp'] <= '2018-12-31 04:00:00')]

In [0]:
djia_str = "KO MCD JPM AXP CAT UTX MSFT CVX AAPL HD DIS V XOM TRV PFE MRK JNJ BA VZ IBM GS WBA INTC DOW UNH WMT PG CSCO NKE MMM"
name_lst = [x for x in str.split(" ")]

In [2]:
import matplotlib.pyplot as plt

apple = dataloader("AAPL")
nike =  dataloader("NKE")
dji  = dataloader("DJI")

AAPL has been downloaded
NKE has been downloaded
DJI has been downloaded

In [5]:
# print(apple['close'].describe() )
# print(nike['close'].describe() )
# print(dji['close'].describe() )
apple.head()

               timestamp      open      high       low     close     volume
1312 1995-01-03 14:30:00  1.388393  1.388393  1.352679  1.370536   25967200
1313 1995-01-04 14:30:00  1.379464  1.415179  1.379464  1.406250   39670400
1314 1995-01-05 14:30:00  1.401786  1.406250  1.383929  1.388393   18410000
1315 1995-01-06 14:30:00  1.486607  1.540179  1.468750  1.500000  269155600
1316 1995-01-09 14:30:00  1.486607  1.495536  1.464286  1.471540   68521600